.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    h1 {
        color: ghostwhite;
        font-size: 25px;
        text-align: center;
    }

    p {
        color: ghostwhite;
        font-size: 18px;
    }

    img {
        max-width: 350px;
    }
}

.botao {
    background: #238801;
    padding: 1rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    margin-top: 1rem;
    width: 200px;
    border-radius: 2rem;
    box-shadow: 0px 2px 0px 0px #003805;
    transition: transform .2s;
    color: white;

    &:focus {
        background: #238801;
        box-shadow: 0px 2px 0px 0px #003805;
        outline: none;
        border: none;
        box-shadow: none;
    }

    &:active {
        background: #238801;
        box-shadow: 0px 2px 0px 0px #003805;
        outline: none;
        border: none;
    }

    &:hover {
        background: #238801;
        box-shadow: 0px 2px 0px 0px #003805;
        transform: scale(1.05)
    }

    &:not(:disabled):not(.disabled):active {
        box-shadow: 0px 2px 0px 0px #003805;
        background: #238801;
        border: none;
    }

    &__voltar {
        background: #d02206;
        box-shadow: 0px 2px 0px 0px #6f0e0e;

        &:focus {
            background: #d02206;
            outline: none;
            border: none;
            box-shadow: none;
        }
    
        &:active {
            background: #d02206;
            outline: none;
            border: none;
        }
    
        &:hover {
            background: #d02206;
            transform: scale(1.05)
        }
    
        &:not(:disabled):not(.disabled):active {
            background: #d02206;
            border: none;
        }
    }
}

.nome {
    background: white;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    max-width: 350px;

    &__titulo {
        font-size: 20px;
        color: #2d3748;
        font-weight: 600;
    }
}

.nomeForm {
    display: flex;
    flex-direction: column;

    &__inputText {
        padding: .5rem;
    }

    &__erro {
        align-self: flex-end;
        font-size: 15px;
        color: #4A5568;
    }

    &__inputBotao {
        color: white;
        margin-top: 1rem;
        align-self: center;
        max-width: 100px;
    }

    &__botoes {
        display: flex;
        justify-content: space-evenly;
    }
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__titulo {
        font-size: 20px;
        font-weight: 600;
    }

    &__bloco {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 350px;
        margin: 0.5rem;
        align-items: center;
        background: whitesmoke;
        padding: .5rem;
        border-radius: 10px;
        height: 54px;

        p {
            margin-bottom: 0;
            font-weight: 600;
        }

        &--dificuldade {
            max-width: 100px;
        }

    }
}


@media(min-width: 576px) {
    .container {
        img {
            max-width: 600px;
        }
    }
}