.jogoContainer {
    padding-top: 1rem;
    max-width: 700px;
}

.nomeJogador {
    color: white;
    margin-left: -.5rem;
    margin-bottom: .5rem;
    font-size: 18px;

    &__tag {
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
    }
}

.timer {
    margin-bottom: .5rem;

    #timer {
        color: white;
        text-align: center;
        font-size: 18px;
    }
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 1rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.questao {
    &__tituloContainer {
        color: white;
        background-image: linear-gradient(to right bottom, #931500, #a61801, #b91b01, #cd1e00, #e12100, #e12100, 
        #e12100, #e12100, #cd1e00, #b91b01, #a61801, #931500);
        border: 1px solid white;
        padding: 1rem;
        padding-left: 2rem;
        margin-left: -2rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        height: 160px;
        display: flex;
        align-items: center;
    }

    &__titulo {
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 2px 2px 2px #000000;
        line-height: 1;
        font-size: 25px;
    }
    
    &__alternativa {
        color: white;
        background-image: linear-gradient(to right bottom, #931500, #a61801, #b91b01, #cd1e00, #e12100, 
        #e12100, #e12100, #e12100, #cd1e00, #b91b01, #a61801, #931500);
        padding: .5rem;
        border: 1px solid white;
        border-radius: .5rem;
        cursor: pointer;

        &--desabilitada {
            pointer-events: none;
            background: #5a5a5a;
            color: #dedede;
        }

        span {
            background: white;
            color: blue;
            height: 25px;
            width: 25px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            margin-right: 1rem;
            font-size: 16px;
        }

    
    }
}

.confirmacao, .aviso, .genios, .placas, .cartas {
    background: white;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    max-width: 350px;

    &__titulo {
        color: black;
        font-size: 18px;
        font-weight: 600;
    }

    &__botao {
        color: white;
        padding: 1rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
        margin-top: 1rem;
        margin-right: 1rem;
        width: 200px;
        border-radius: 2rem;

        &--confirmar {
            background: #238801;
            box-shadow: 0px 2px 0px 0px #003805;
        }
    
        &--cancelar {
            background: #d02206;
            box-shadow: 0px 2px 0px 0px #6f0e0e;
        }

        &--escondido {
            display: none;
        }
    }

    &__escolhas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 10px;
        justify-items: center;

        &__escolha {
            font-size: 20px;
            background: white;
            height: 50px;
            width: 50px;
            color: #2196F3;
            padding-top: .5rem;
            border: 2px solid #2196F3;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .cartas__escolhas__escolha {
        width: 65px;
        height: 90px;
        
        &--escondida {
            display: none;
            max-width: 65px;
            border: 1px solid black;
        }
    }
}

.resultado {
    background: white;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__imagem {
        max-width: 200px;
    }

    &__botao {
        color: white;
        padding: 1rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
        margin-top: 1rem;
        width: 200px;
        border-radius: 2rem;

        &--continuar {
            background: #238801;
            box-shadow: 0px 2px 0px 0px #003805;
        }

        &--parar {
            background: #d02206;
            box-shadow: 0px 2px 0px 0px #6f0e0e;
        }
    }

    &__valorAtual {
        text-transform: none;
        color: #a9a9a9;
    }
}

.decisoesContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.decisoes {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    &__quantidade {
        position: fixed;
        color: white;
        background: #1da741;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        font-size: 13px;
        align-self: flex-start;
    }

    &__imagem {
        max-width: 40px;
    }

    &__texto {
        color: white;
        margin-bottom: 0;
        font-size: 14px;
    }

    
    &__botao {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        background: #ffffffc2;
        color: #000c69;
        border: none;
        font-weight: bolder;
    }
}


@media (min-width: 768px)  {
    .confirmacao, .aviso, .genios, .placas, .cartas {
        max-width: none;

        &__escolhas {
    
            &__escolha {
                font-size: 40px;
                background: white;
                height: 100px;
                width: 100px;
                color: #2196F3;
                padding-top: 1.3rem;
                border: 2px solid #2196F3;
                font-weight: 500;
                cursor: pointer;
            }
        }
        
        .cartas__escolhas__escolha {
            width: 95px;
            height: 130px;
            
            &--escondida {
                display: none;
                max-width: 95px;
                border: 1px solid black;
            }
        }
    }
    
    .questao__alternativa {
        font-size: 20px;
    }

  
}